body {
  width: 33vw;
}
#res {
  border: solid;
  background-color: lightgray;
  height: 48px;
  font-size: 20px;
}
.bin {
  background-color: lightgreen;
  color: brown;
}
.sysBtn {
  background-color: darkgreen;
  color: white;
}
.operators {
  background-color: black;
  color: red;
}
button {
  width: 25%;
  height: 36px;
  font-size: 18px;
  float: left;
  margin: 0px;
}
